* {
    box-sizing: border-box;
}

body {
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    //   sans-serif;
    --font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background: #f15946;
    background-color: black;
    transition: 0.4s ease-in-out;
  }
  
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    // position: fixed;
    overflow: hidden;
    // text-decoration-color: aliceblue;
  }

  @font-face {
    font-family: "Mona Sans";
    font-style: normal;
    font-weight: 200 900;
    font-stretch: 75% 200%;
    src: url("/font/Mona-Sans.woff2") format("woff2-variations");
  }

  .p5Song {
    font-family: "Mona Sans";
    font-weight: 700;
    font-size: 5vw;
  }